//>>>>> Component Button Here <<<<<//
.theme-btn {
	position: relative;
	z-index: 2;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	gap: 6.8px;
	border: none;
	text-transform: capitalize;
	text-align: center;
	border-radius: 30px;
	background: var(--theme4);
	color: var(--white);
	font-size: 15px;
	font-weight: 600;
	padding: 6px 7px;
	height: 48px;
	line-height: 99%;
	i {
		@include transition;
	}
	&.style1 {
		i {
			transform: rotate(-40deg);
		}
		&:hover {
			i {
				transform: rotate(40deg);
			}
		}
	}
	&.style2 {
		background-color: var(--theme);
		i {
			transform: rotate(-40deg);
		}
		&:hover {
			color: var(--white) !important;
			i {
				color: var(--white);
				transform: rotate(40deg);
			}
		}
	}
	&.style3 {
		background-color: var(--theme2);
		color: var(--black);
		&:hover {
			color: var(--white) !important;
			border: 1px solid var(--theme2);
			i {
				color: var(--black);
				transform: rotate(40deg);
			}
		}
	}
	&.style4{
		background-color: var(--theme3) !important;
		color: var(--white);
	}
	&.white-blur{
		border-radius: 40.037px;
		border: 1px solid rgba(255, 255, 255, 0.20);
		background: rgba(255, 255, 255, 0.20);
	}
	&.style-black{
		background-color: #000;
		color: var(--white);
	}
	&.style-white {
		background-color: var(--white);
		color: var(--text);
	}
	&.outline-btn {
		background-color: transparent;
		border: 1px solid var(--theme4);
		color: var(--theme4);
		&:hover {
			i {
				color: var(--white);
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		height: 110%;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: var(--header);
		z-index: -1;
		transition: all 0.4s ease-out;
		border-radius: inherit;
	}

	&:hover {
		color: var(--white);
		&::before {
			width: 100%;
		}
	}
}

.link-btns {
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
	color: var(--theme);

	i {
		transform: rotate(-40deg);
		@include transition;
		font-weight: 400;
	}

	&:hover {
		i {
			transform: rotate(0);
		}
	}
}

//>>>>> Component Button End <<<<<//
