//blog-items2
.blog-items2 {
	transition: all 0.5s;
	.thumb {
		img {
			transition: all 0.3s;
		}
	}
	&:hover {
		background-color: $theme-color2;
		.content {
			.theme4-border {
				border-color: $white !important;
				color: $white;
			}
			h4 {
				a {
					color: $white;
				}
			}
		}
		.thumb {
			img {
				transform: scale(1.1);
			}
		}
	}
}

//blog-hove-primary3
.blog-hove-primary3 {
	transition: all 0.4s;
	&:hover {
		background-color: $theme-color3 !important;
		span,
		h5 {
			color: $white !important;
		}
		h5 {
			a {
				color: $white !important;
			}
		}
		.hover-theme1 {
			background-color: $white !important;
			i {
				color: $theme-color3;
			}
		}
	}
}

//Blog DEtails
.quote-box {
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 4px 17px 0px rgba(13, 23, 52, 0.07);
	padding: 40px 50px;
	@include breakpoint(max-xl) {
		padding: 30px 20px;
	}
}
.blog-details-social {
	position: absolute;
	bottom: 24px;
	left: 24px;
	a {
		border-radius: 27px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.24);
		width: 40px;
		height: 40px;
		min-width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			color: $white;
		}
		&:hover {
			background-color: $theme-color;
			i {
				color: $theme-color4;
			}
		}
	}
	@include breakpoint(max-lg) {
		bottom: 16px;
		left: 16px;
	}
}
.post-viewer {
	border-radius: 8px;
	border: 1px solid rgba(13, 23, 52, 0.1);
	background: #fff;
	padding: 32px 40px;
}

.leave-comment{
    padding: 48px;
    @include breakpoint(max-md){
        padding: 32px;
    }
}
